{% extends 'base.html' %}

{% block title %}<title>任务信息 - {{ task.pk }}. {{ task.title }}</title>{% endblock title %}

{% block content %}
<table class="table table-striped table-bordered">
	<tr>
		<th>序号</th>
		<td>{{ task.pk }}</td>
	</tr>
	<tr>
		<th>标题</th>
		<td>{{ task.title }}</td>
	</tr>
    <tr>
		<th>用户</th>
		<td>{{ task.user }}</td>
	</tr>
    <tr>
		<th>创建时间</th>
		<td>{{ task.created_at | date:"Y-m-d H:i" }}</td>
	</tr>
</table>

<a href="/task/{{ task.pk }}/update/"><button class="btn btn-primary" type="button">修改内容</button></a>
{% endblock content %}
