{% extends 'base.html' %}

{% block title %}<title>任务变更 - {{ article.pk }}. {{ article.title }}</title>{% endblock title %}

{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
{% endblock css %}

{% block content %}

        <!-- form -->
<form action="." method="post" class="form-horizontal">
        <!-- csrftoken 标签, POST请求一定要有，django 自动会生成csrfmiddlewaretoken -->
{% csrf_token %}

        <!-- 若有task数据传过来就是update， 否则create-->
<input type="hidden" name="action" value="{% if task %}update{% else %}create{% endif %}">   <!-- action -->
<table class="table table-striped table-bordered">
	<tr>
		<th>序号</th>
		<td>{{ task.pk }}</td>
	</tr>
	<tr>
		<th>标题</th>                                     <!-- 标题输入 -->
		<td><input type="text" class="form-control" name="title" value="{{ task.title }}"></td>
	</tr>
    <tr>
		<th>用户</th>                                    <!-- 用户输入 -->
		<td><input type="text" class="form-control" name="user" value="{{ task.user }}"></td>
	</tr>
    <tr>
		<th>创建时间</th>
		<td>{{ task.created_at | date:"Y-m-d H:i" }}</td>
	</tr>
</table>
        <!-- submit 类型的按钮会自动寻找最近的form内容传送 -->
<button class="btn btn-primary" type="submit">保存</button>
</form>
{% endblock content %}